{% extends 'base.html.twig' %}

{% block content %}
    <br><br>
    <h1 class="header center orange-text">This is great to use Twig!</h1>
    <div class="row center">
      <p>Dashboard (private page)</p>
      <h2><strong>UserID:</strong> {{ user }}</h2>
    </div>
{% endblock %}